html,
body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

body {
  font-family: Knockout Wide, sans-serif;
}

.hero {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  padding: 50px 30px;
  text-align: center;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: linear-gradient(to left, blue, red);
}

.hero h1 {
  font-weight: normal;
  font-size: 2.5rem;
  margin: 0;
  padding-bottom: 0.5rem;
}

.hero h2 {
  font-weight: lighter;
  font-size: 1rem;
}

.filter-nav {
  display: flex;
  justify-content: center;
}

.filter-nav a {
  text-decoration: none;
  padding: 7px;
  color: rgb(0, 0, 255);
  border: 1px solid rgb(56, 145, 255);
  border-radius: 4px;
  margin: 3px;
  margin-bottom: 10px;
}

.teams {
  max-width: 700px;
  margin: 0 auto;
}

.team-cards {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  background-color: white;
  border-radius: 60px;
}

.team-card-logo {
  order: 1;
  grid-row: 1;
}

.team-card-logo {
  width: 100%;
}

.team-card-text {
  padding: 20px 25px;
}

.primary-btn {
  background: linear-gradient(orange, red);
  padding: 8px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
